<% if flash[:notice].present? %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div class="d-flex justify-content-center mt-5">
  <div class="row row-cols-1 row-cols-md-1 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <p class="h4 my-0 fw-normal" style="font-family: Roboto">
            <strong>Name:</strong>
            <%= @topic.name %>
          </p>
        </div>
        <div class="card-footer py-3" style="font-family: 'Roboto Black'">
          <%= link_to 'Edit', edit_topic_path(@topic) %> |
          <%= link_to 'Back', topics_path %>
        </div>
      </div>
    </div>
  </div>
</div>

